#  Variables sensibles
.env

#  Python
__pycache__/
*.pyc

#  Environnement virtuel
env/
venv/

#  VS Code
.vscode/

#  Jupyter
.ipynb_checkpoints/

#  Bases de données locales
*.db

#  Fichiers temporaires
*.log
